{{ partial "head" . }}

{{if ne .Site.Params.singleViewStyle "casper"}}<body class="ctsingle">
{{else}}<body class="page-template">{{end}}
<div class="site-wrapper"> 

{{if ne .Site.Params.singleViewStyle "casper"}}{{ partial "header" . }}
{{else}}{{ partial "header-sori" . }}{{end}}


<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
  	<form name="contactform" action="thanks" netlify>
      <p>
        <label>Your Name: <input type="text" name="name"></label>
      </p>
      <p>
        <label>Your Email: <input type="email" name="email"></label>
      </p>
      <p>
        <label><input type="radio" name="food" value="カレー">カレー</label>
        <label><input type="radio" name="food" value="焼肉">焼肉</label>
        <label><input type="radio" name="food" value="寿司">寿司</label>
      </p>
      <p>
        <label>Message: <textarea name="message"></textarea></label>
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form>
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
