<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>{{if .Params.tags }}
                <span class="date-divider">/</span> {{ range $index, $tag := .Params.tags }}{{if lt $index 3}}<a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;{{end}}{{end}}{{ end }}
        </section>
        <h1 class="post-full-title">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
    <figure class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </figure>{{else}}
    <figure class="post-full-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
    </figure>{{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content }}    
        </div>
        <section>
            <h3>私のおすすめの書籍です。ぜひ読んでみてください！</h3>
            <section style="display:flex;">
<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4150504601/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4150504601&linkCode=as2&tag=ringoku06-22&linkId=02e3e8972855b0bba6ff191db6848f7c"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4150504601&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=ringoku06-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=ringoku06-22&l=am2&o=9&a=4150504601" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4774142042/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4774142042&linkCode=as2&tag=ringoku06-22&linkId=1b937462eba77370552944f933cd3903"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4774142042&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=ringoku06-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=ringoku06-22&l=am2&o=9&a=4774142042" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </section>
        </section>
    </section>

    <footer class="post-full-footer">
      <section class="author-card">
        <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
            <h4 class="author-card-name"><a href="{{"/" | absURL}}">{{.Params.author | default .Site.Params.author}}</a></h4>
                <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
        </section>
      </section>
    </footer>
</article>
